<%- include("partials/header") %> 

<h1>This is the campgrounds page</h1>

<a href="/campgrounds/new">Add New Campground</a>

<% for(var i = 0; i < campgrounds.length; i++){ %>
    <div>
        <h4><%= campgrounds[i].name %></h4>
        <img src="<%= campgrounds[i].image %> " alt="">
    </div>
<% } %>

<%- include("partials/footer") %> 